{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CARS4U</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background-color: #e3f2fd;">
      <a class="navbar-brand mx-3" href="#">Car4y</a>

      <div class="navbar-nav mx-3">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/cars">Cars</a>
        <a class="nav-item nav-link" href="/contacts">Contacts</a>
      </div>
    </nav>

    {% block content %}

    {% endblock content %}
  </body>
</html>